@import "vars";
@import "components/system/top-header";
@import "components/system/sidebar";
@import "components/system/copyright";
@import "components/system/nav-tabs";

html, body {
  margin: 0;
  padding: 0;
  font-family: $--font-family;
  font-size: $--font-size-base;
  height: 100%;
  min-width: 1000px;
}

h1 {
  font-size: 2em;
}

.app-init {
  height: 100%;
}

.app-layout {
  &__main {
    height: 100%;
  }
  &__content {
    height: 100%;
  }
  .has-nav-tabs {
    .app-layout__content {
      padding: 15px;
      height: calc(100% - 61px);
    }
  }
}

.xdh-layout--fixed {
  .nav-tabs {
    position: fixed;
  }
  .has-nav-tabs {
    .app-layout__content {
      padding: 45px 15px 15px 15px;
      height: calc(100% - 91px);
    }
  }
}
