@import "vars";
@import "mixin";
@import "~element-ui/packages/theme-chalk/src/index";
@import "widgets/index";

html, body {
  margin: 0;
  padding: 0;
  font-family: $--font-family;
  font-size: $--font-size-base;
  height: 100%;
}

.user-select--none {
  user-select: none;
}

.xdh-draggable {
  &__handle {
    cursor: move;
  }
  &__clone {
    opacity: 0.6;
    position: absolute;
    z-index: $--index-top;
  }
  &__clone--translate {
    transition: all 0.3s;
  }
}

.app-layout {
  .el-header {
    background: $--color-primary;
  }

  .el-footer {
    background: $--color-primary-light-8;
  }
  .el-aside {
    background: $--color-white;
    border-right: 1px solid $--border-color-base;
  }
  .nav-menu {
    background: $--color-white;
  }
}
