@import "vars";
@import "mixin";
@import "~element-ui/packages/theme-chalk/src/index";
@import "widgets/index";
@import "../assets/icons/iconfont.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: $--font-family;
  font-size: $--font-size-base;
  height: 100%;
}

.user-select--none {
  user-select: none;
}

.xdh-draggable {
  &__handle {
    cursor: move;
  }
  &__clone {
    opacity: 0.6;
    position: absolute;
    z-index: $--index-top;
  }
  &__clone--translate {
    transition: all 0.3s;
  }
}

.el-menu-item .iconfont, .el-submenu .iconfont {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
}

/////////////  修正 end ///////////////////


.app-layout {
  > .el-header {
    background: $--color-primary;
  }

  > .el-footer {
    background: $--color-primary-light-8;
  }
  .el-aside {
    background: $--color-white;
    border-right: 1px solid $--border-color-base;
  }
  .nav-menu {
    background: $--color-white;
  }
}
