@import "../vars";
@import "../widgets-vars";

.xdh-layout {
  min-height: 100%;
  &__north {
    padding: 0;
  }
  &__south {
    padding: 0;
  }

  &__west {
    overflow: visible;
  }
  &__east {
    overflow: visible;
  }

  &__main {
    padding: 0;
  }

  &__wrapper {
    height: 100%;
  }

  &--fixed {
    height: 100%;

  }
}
