@import "../vars";
@import "../widgets-vars";

.xdh-menu {
  border: none;
}

.el-menu-item .iconfont, .el-submenu .iconfont {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
}

