@import "../vars";
@import "../widgets-vars";

.xdh-tree-select {

  &__popover {
    width: 100%;
  }

  &__bd {
    height: 250px;

    .el-scrollbar {
      height: calc(100% - 40px)
    }
  }


  &__reference {
    display: inline-block;
    cursor: pointer;
  }

}
.xdh-select-footer {
  padding-top: 12px;
  text-align: right;
  border-top: 1px solid $--border-color-light;
}
